.Listingslot {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
}

.Listingslot-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding: 20px 35px 20px 35px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
}

.Listingslot-cards i {
    padding-right: 30px;
    color: #7e7e7e;
}

.Listingslot-cards .number {
    position: absolute;
    left: 0;
    transform: translate(-15px);
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    background-color: #9356DC;
    color: #fff;
    border-radius: 50%;
}

.Listingslot-cards:hover {
    background-color: #f5edff;
}

.Listingslot-cards:hover i {
    color: #9356DC;
}

@media (max-width: 992px) {

.Listingslot {
      flex-direction: column;
      margin-bottom: 2em;
}
}
  