footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
footer .logofooter {
    color: #fff;
    width: 120px;
}
  
footer .logofooter svg path {
    fill: #FFF !important;
}
  
footer a {
    color: #FFF;
    text-decoration: none;
    width: fit-content;
    padding: 5px;
}
  
footer i {
    padding-right: 10px;
}
  
@media (max-width: 768px) {

footer {
    align-items: flex-start;
}
}