.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid $color-primary;
  width: 120px;
  height: 120px;
  animation: rotate 1s linear infinite;
  position: absolute; 
  

}

.loaderout{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100vh;
}