.fa-heart {
  font-size: 1.3em;
  
  &:hover {
    animation: bgcolor 0.5s;
    font-weight: 900;
    background:-webkit-linear-gradient(13deg, rgba(255,121,218,1) 0%, rgba(186,98,219,1) 66%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
} 

.loader {
  border: 10px solid #9356DC;
  border-radius: 50%;
  border-top: 10px solid #99E2D0;
  width: 120px;
  height: 120px;
  animation: rotate 1s linear infinite;
  position: absolute; 
}

.loaderout {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  width: 99vw;
  height: 100vh;
}